//theming chosen for application
$firstColor: #1f8be9;
$secondColor: #e9d9cb;
$thirdColor: #e9af7e;
$fourthColor: #7eb7e9;
$fifthColor: #e99347;
$trashColor: rgba(255, 0, 0, 0.911);
//styling for tab2
h1 {
    color: $firstColor;
    text-align: center;
}
h2 {
    color: $fourthColor;
}
h3 {
    color: $firstColor;
}
h5 {
    color: $fifthColor;
}
