<ion-tabs>
  <!--Tab1 info-->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon color="primary" name="book-outline"></ion-icon>
      <ion-label>Bookstore</ion-label>
    </ion-tab-button>
    <!--Tab2 info-->
    <ion-tab-button tab="tab2">
      <ion-icon color="primary" name="search-outline"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>
    <!--Tab3 info-->
    <ion-tab-button tab="tab3">
      <ion-icon color="primary" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
