//theming for app
$firstColor: #1f8be9;
$secondColor: #e9d9cb;
$thirdColor: #e9af7e;
$fourthColor: #7eb7e9;
$fifthColor: #e99347;
$trashColor: rgba(255, 0, 0, 0.911);

.iconColor {
    color: $fourthColor;
}